<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("templates/head.ejs") %>
  </head>
  <body>
    <%- include("templates/navbar.ejs") %>
    <div class="back">
      <div class="d-flex flex-wrap pb-0">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <h1 class="title-home">Gestión de inventario</h1>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <img class="img-fluid" src="images/imagen1.png" style=" height: 90%;"/>
        </div>
      </div>
    </div>
    <footer><%- include("templates/footer.ejs") %></footer>
  </body>
</html>
