.title-home {
  font-size: 5rem; /* Utilizando vw como medida relativa */
  text-align: center; /* Alineación centrada */
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600; /* Un valor más alto para un texto aún más grueso */
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
  .title-home {
    font-size: 3rem; /* Tamaño de letra más pequeño para pantallas más pequeñas */
  }
}

@media (max-width: 960px) {
  .title-home {
    font-size: 2rem; /* Tamaño de letra más pequeño para pantallas más pequeñas */
  }
}

@media (max-width: 194px) {
  .title-home {
    font-size: 1rem; /* Tamaño de letra más pequeño para pantallas más pequeñas */
  }
}

.img {
  justify-content: right;
}

.btn-add {
  background-color: #43454a !important;
  border: #43454a !important;
  border-radius: 15px !important;
  text-transform: uppercase;
}

.btn-add:hover {
  background-color: #82848a !important;
}

.btn-modal-add {
  background-color: #43454a !important;
  border: #43454a !important;
  border-radius: 15px !important;
  text-transform: uppercase;
}

.btn-modal-add:hover {
  background-color: #82848a !important;
}

.btn-modal-cancel {
  border-radius: 15px !important;
  text-transform: uppercase;
}

.back {
  min-height: 82.35vh;
}

table {
  text-align: center !important;
}

table > tr {
  background-color: red !important;
}

/* @media (max-width: 700px) {
    .test {
      display: block;
    }
    .title-home{
        color: blue;
        font-size: small;
    }
  } */
