.title-home {
  font-size: 5rem; /* Utilizando vw como medida relativa */
  text-align: center; /* Alineación centrada */
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600; /* Un valor más alto para un texto aún más grueso */
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
  .title-home {
    font-size: 3rem; /* Tamaño de letra más pequeño para pantallas más pequeñas */
  }
}

@media (max-width: 960px) {
  .title-home {
    font-size: 2rem; /* Tamaño de letra más pequeño para pantallas más pequeñas */
  }
}

@media (max-width: 207px) {
  .title-home {
    font-size: 1rem; /* Tamaño de letra más pequeño para pantallas más pequeñas */
  }
}

.img {
  justify-content: right;
}

.btn-add {
  background-color: #43454a !important;
  border: #43454a !important;
  border-radius: 15px !important;
  text-transform: uppercase;
}

.btn-add:hover {
  background-color: #82848a !important;
}

.btn-modal-add {
  background-color: #43454a !important;
  border: #43454a !important;
  border-radius: 15px !important;
  text-transform: uppercase;
}

.btn-modal-add:hover {
  background-color: #82848a !important;
}

.btn-modal-cancel {
  border-radius: 15px !important;
  text-transform: uppercase;
}

.back {
  min-height: 82.35vh;
}

.table-responsive {
  max-height: 53.35vh !important; /* Define la altura máxima para el contenedor */
  overflow-y: auto !important; /* Agrega la barra de desplazamiento vertical cuando sea necesario */
  padding-right: 4px;
}

.table-responsive::-webkit-scrollbar {
  padding-left: 3px;
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #43454a; /* Color del "pulgarcito" de la barra de desplazamiento */
  border-radius: 8px; /* Redondea las esquinas del "pulgarcito" */
}

table {
  text-align: center !important;
}
