<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head.ejs") %>
  </head>
  <body>
    <footer
      class="footer bg-dark text-white"
      style="
        background-color: #43454a !important;
        color: #ffffff;
        font-size: 18px;
        font-family: Open Sans;
        font-weight: 500;
      "
    >
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-4">
            <p class="mb-0">Diana Sofía Díaz Salamanca</p>
            <p class="mb-0">Luis Enrique Jr. Pinto Fuentes</p>
          </div>
          <div class="col-md-4">
            <p class="mb-0">Electiva II - Desarrollo Web</p>
          </div>
          <div class="col-md-2">
            <p class="mb-0">Taller EJS</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
