<footer class="footer" style="background-color: #43454A !important; color: #ffffff; font-size: 18px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Diana Sofía Díaz Salamanca</p>
                <p>Luis Enrique Jr. Pinto Fuentes</p>
            </div>
            <div class="col-md-4 text-center">
                <p style="font-size: 1.5em;">Electiva II</p>
            </div>
            <div class="col-md-4 text-right">
                <p style="font-size: 1.2em;">Taller EJS</p>
            </div>
        </div>
    </div>
</footer>