<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary btn-add"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Agregar
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Agregar Registro
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text">ID</span>
          <input
            type="text"
            class="form-control"
            aria-label="Id"
            id="modalId"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Nombre</span>
          <input
            type="text"
            class="form-control"
            aria-label="Nombre"
            id="modalNombre"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Marca</span>
          <input
            type="text"
            class="form-control"
            aria-label="Marca"
            id="modalMarca"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Cantidad</span>
          <input
            type="text"
            class="form-control"
            aria-label="Cantidad"
            id="modalCantidad"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Costo</span>
          <input
            type="text"
            class="form-control"
            aria-label="Costo"
            id="modalCosto"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-modal-cancel"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary btn-modal-add"
          onclick="add()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
